body {
  background-image: url(https://media.discordapp.net/attachments/1031765417724743791/1143099326076305408/dilbg2.png?width=1920&height=1080);
  font-family: sans-serif;
  padding-top: 125px;
}

h1 {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 30%;
  background-color: pink;
  margin-top: 100px;
  padding-top: 0px;
  max-width: 340px;
  max-height: 600px;
  min-width: 340px;
  min-height: 600px;
  box-shadow: 0 0 100px pink;
  border-radius: 20px;
  outline-style: ridge; 
  outline-color: gold;
  outline-width: 3px;
  margin: 0.7em auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: sans-serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
.textbox {
  max-width: 277px;
  max-height: 150px;
  min-width: 282px;
  min-height: 150px;
  font-size: 18px;
  margin-left: 13px;
  font-family: sans-serif;
  display: block;
  margin: 1em auto;
  outline-style: ridge;
  outline-color: gold;
}
button {
  width: 30%;
  border: 3px solid gold;
  margin: 1em auto;
  display: block;
}
button:hover {
        background-color: beige;
        transition: 0.3s;
        color: pink;
        cursor: pointer;
      }

.dil {
  outline-style: solid;
  outline-color: gold;
}
.menu2 {
  width: 30%;
  background-color: pink;
  margin-top: 100px;
  padding-top: 20px;
  max-width: 340px;
  max-height: 200px;
  min-width: 340px;
  min-height: 200px;
  box-shadow: 0 0 100px pink;
  border-radius: 20px;
  outline-style: ridge; 
  outline-color: gold;
  outline-width: 3px;
  margin: 0.7em auto;
}
